<a href="https://colab.research.google.com/github/dbirmajer/CS50/blob/master/euler_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiples of 3 and 5

## Problem 1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we
get 3; 5; 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5
below 1000.

In [0]:
import time

In [0]:
def euler_01 (n):
    return sum(filter(lambda x: (x % 5)*(x % 3)== 0, range(n)))

In [0]:
start = time.time()    
result = euler_01(1000) # sequential version
end = time.time()
print(f'The result is {result}')
print(f'Time to complete in sequential version: {end - start:.4f}s\n')

The result is 233168
Time to complete in sequential version: 0.0004s