<a href="https://colab.research.google.com/github/dbirmajer/CS50/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Section 1: Immutable Data Structures**

In [0]:
from functools import reduce
import collections
import itertools

# **Section 1: Immutable Data Structures**
import collections
from pprint import pprint

Scientist = collections.namedtuple('Scientist', [
    'name',
    'field',
    'born',
    'nobel',
])

scientists = (
    Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
    Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
    Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
    Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
    Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
    Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False),
    Scientist(name='Sally Ride', field='physics', born=1951, nobel=False),
)

In [0]:
pprint(scientists)

**Section 2: The filter()**

In [10]:
fs = filter(lambda x: x.nobel, scientists)
pprint(tuple(fs))
print()
pprint(tuple(filter(lambda x: x.nobel and x.field == 'physics' , scientists)))

(Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True))

(Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),)

In [0]:
def nobel_filter(x):
    return x.nobel

In [12]:
pprint(tuple(filter(nobel_filter, scientists)))

(Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True))

In [13]:
pprint(tuple(x for x in scientists if x.nobel))

(Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True))

**Section 3: The map() Function**

In [0]:
names_and_ages = tuple(map(lambda x: {'name': x.name, 'age': 2017 - x.born}, scientists))

pprint(names_and_ages)

pprint(tuple({'name': x.name, 'age': 2017 - x.born} for x in scientists))
pprint(tuple({'name': x.name.upper(), 'age': 2017 - x.born} for x in scientists))

**Section 4: The reduce() Function**

# Section 4: The reduce() Function

In [0]:
total_age = reduce(lambda accum, x: accum + x['age'], names_and_ages,0)
print(total_age)
print(sum(x['age'] for x in names_and_ages))


def reducer(accum, val):
    accum[val.field].append(val.name)
    return accum
pprint(reduce(reducer, scientists, collections.defaultdict(list)))

scientists_by_field = {
    item[0]: list(item[1])
    for item in itertools.groupby(scientists, lambda x: x.field)
}

print(list(itertools.groupby(scientists, lambda x: x.field)))
pprint(scientists_by_field)

# Section 5: Parallel Processing With multiprocessing

In [0]:
import time
import multiprocessing
import os

def transform(x):
    print(f'Process {os.getpid()} working record {x.name}')
    #print(f'Processing record {x.name}')
    time.sleep(1) #sleeps one second
    result = {'name': x.name, 'age': 2017 - x.born}
    #print(f'Done Processing record {x.name}')
    print(f'Process {os.getpid()} done processing record {x.name}')    
    return result

In [17]:
start = time.time()    
result = tuple(map(transform, scientists)) # sequential version
end = time.time()
print(f'Time to complete in sequential version: {end - start:.2f}s\n')
pprint(result)

Process 123 working record Ada Lovelace
Process 123 done processing record Ada Lovelace
Process 123 working record Emmy Noether
Process 123 done processing record Emmy Noether
Process 123 working record Marie Curie
Process 123 done processing record Marie Curie
Process 123 working record Tu Youyou
Process 123 done processing record Tu Youyou
Process 123 working record Ada Yonath
Process 123 done processing record Ada Yonath
Process 123 working record Vera Rubin
Process 123 done processing record Vera Rubin
Process 123 working record Sally Ride
Process 123 done processing record Sally Ride
Time to complete in sequential version: 7.01s

({'age': 202, 'name': 'Ada Lovelace'},
 {'age': 135, 'name': 'Emmy Noether'},
 {'age': 150, 'name': 'Marie Curie'},
 {'age': 87, 'name': 'Tu Youyou'},
 {'age': 78, 'name': 'Ada Yonath'},
 {'age': 89, 'name': 'Vera Rubin'},
 {'age': 66, 'name': 'Sally Ride'})

In [18]:
pool = multiprocessing.Pool()
start = time.time()    
result = pool.map(transform, scientists) # parallel version
end = time.time()
print(f'Time to complete in parallel version: {end - start:.2f}s\n')

Process 848 working record Ada Lovelace
Process 849 working record Emmy Noether
Process 849 done processing record Emmy Noether
Process 849 working record Marie Curie
Process 848 done processing record Ada Lovelace
Process 848 working record Tu Youyou
Process 849 done processing record Marie Curie
Process 849 working record Ada Yonath
Process 848 done processing record Tu Youyou
Process 848 working record Vera Rubin
Process 849 done processing record Ada Yonath
Process 848 done processing record Vera Rubin
Process 848 working record Sally Ride
Process 848 done processing record Sally Ride
Time to complete in parallel version: 4.04s

In [19]:
pool = multiprocessing.Pool(processes=len(scientists))
start = time.time()    
result = pool.map(transform, scientists) # parallel version
end = time.time()
print(f'Time to complete in parallel version: {end - start:.2f}s\n')

Process 897 working record Ada Lovelace
Process 899 working record Tu Youyou
Process 896 working record Emmy Noether
Process 901 working record Vera Rubin
Process 898 working record Marie Curie
Process 900 working record Ada Yonath
Process 902 working record Sally Ride
Process 897 done processing record Ada Lovelace
Process 899 done processing record Tu Youyou
Process 901 done processing record Vera Rubin
Process 898 done processing record Marie Curie
Process 896 done processing record Emmy Noether
Process 900 done processing record Ada Yonath
Process 902 done processing record Sally Ride
Time to complete in parallel version: 1.03s

In [20]:
pool = multiprocessing.Pool(processes=2, maxtasksperchild=1)
start = time.time()    
result = pool.map(transform, scientists) # parallel version
end = time.time()
print(f'Time to complete in parallel version: {end - start:.2f}s\n')

Process 952 working record Ada Lovelace
Process 953 working record Emmy Noether
Process 952 done processing record Ada Lovelace
Process 953 done processing record Emmy Noether
Process 965 working record Marie Curie
Process 966 working record Tu Youyou
Process 965 done processing record Marie Curie
Process 966 done processing record Tu Youyou
Process 975 working record Ada Yonath
Process 977 working record Vera Rubin
Process 975 done processing record Ada Yonath
Process 977 done processing record Vera Rubin
Process 985 working record Sally Ride
Process 985 done processing record Sally Ride
Time to complete in parallel version: 4.34s

In [0]:
from google.colab import drive
drive.mount('/content/drive')